<div class="hide" id="fuel" style="margin:0 ;">
    <!-- <button class="btn btn-primary mb-3 changeReport" onclick="changeReportType2()">نمایش سرویسهای نیاز به بررسی</button> -->
    <h2 style="margin-right: 25%;">مواردی که سوخت تجمعی نیاز به بررسی دارد </h2>
    <table class="table table-striped table-hover" style="margin: auto ;margin-top: 70px; width: 95% ; background-color: rgb(214, 214, 212);">
          <thead>
            <tr>
              <th scope="col">ردیف</th>
              <th scope="col">سوخت رسان</th>
              <th scope="col">سوخت</th>
              <th scope="col">تجمعی</th>
              <th scope="col">اختلاف لیتراژ</th>
              <th scope="col">اختلاف زمان</th>
              <th scope="col">زمان</th>
            </tr>
          </thead>
          <tbody id="fuel_table" style="font-family: 'Times New Roman', Times, serif;">
            <!-- <tr class="rows" ondblclick="this.style.backgroundColor=`rgba(255,99,88,.25)`;this.style.fontWeight=`bold`" >
        
              </tr> -->
          </tbody> 
    </table>
</div>
