
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/" method="post">
					<% if(error.length>0) {%> 
						<div class="alert alert-warning" role="alert">
						  <%=error  %> 
						</div>
						<% } %> 
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="login">
						<span class="focus-input100"></span>
						<span class="label-input100">نام کاربری</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100">کلمه عبور</span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							ورود
						</button>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
	
