<style>
  body{
    font-size: 20px;
  }
  tr:hover{
    background-color: rgb(166, 198, 150);
  }
</style>
<div  class="w-25 mx-auto">
<div >
<table class="table table-striped table-hover text-center table-bordered">
  <thead style="background-color:#E0A96D">
    <td>قرارداد</td>
    <td>آهن</td>
    <td>باطله</td>
    <td>مجموع</td>
  </thead>
  <tbody id="tonnages"></tbody>
</table>

</div>
<hr>
<div >
  <table class="table table-striped table-hover text-center table-bordered">
    <thead style="background-color:#234E70; color: #FBF8BE;">
      <td>قرارداد</td>
      <td>تراک</td>
      <td>بارکننده</td>
    </thead>
    <tbody id="numberOfvehicles"></tbody>
  </table></div>
</div>

