<style>
  .columns {
    border: 2px solid #eee;
    margin: 5px 20px 5px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    height: 85vh;
    overflow: scroll;

  }

  .cards {
    border: 2px solid #d7d5d5;
    background-color: rgb(247, 247, 246);
    flex: 1 0 100px;
  }

  table {
    text-align: right;
  }

  td[id],
  th[id] {
    border-right: 1px dashed #c9c5c5;
    text-align: center;
    font-weight: bold;
  }

  body {
    background-color: #faf7f7;
  }
</style>

<div id="main-report" class="columns">
  <div class="cards">
    <table class="table table-striped table-hover">
      <thead>
        <th>پارامتر</th>
        <th id="val">مقدار</th>
      </thead>
      <tbody>
        <tr>
          <td>آهن حمل شده از معدن به دپو -700</td>
          <td id="ore-depo-700"></td>
        </tr>
        <tr>
          <td>آهن حمل شده از معدن به سنگ شکن -700</td>
          <td id="ore-cr-700"></td>
        </tr>
        <tr>
          <td>باطله حمل شده از معدن به شرقی -700</td>
          <td id="waste-sh-700"></td>
        </tr>
        <tr>
          <td>باطله حمل شده از معدن به غربی -700</td>
          <td id="waste-gh-700"></td>
        </tr>
        <tr>
          <td>آهن حمل شده از دپو مگنت به سنگ شکن</td>
          <td id="magnet-to-cr"></td>
        </tr>
        <tr>
          <td>آهن حمل شده از بارهای خریداری شده به سنگ شکن</td>
          <td id="baught-to-cr"></td>
        </tr>
        <tr>
          <td>آهن حمل شده از سها به سنگ شکن</td>
          <td id="saha-to-cr"></td>
        </tr>
        <tr>
          <td>آهن حمل شده از معدن به دپو-تراک بزرگ -742</td>
          <td id="ore-depo-big-742"></td>
        </tr>
        <tr>
          <td>آهن حمل شده از معدن به سنگ شکن-تراک بزرگ -742</td>
          <td id="ore-cr-big-742"></td>
        </tr>
        <tr>
          <td>باطله حمل شده از معدن به شرقی-تراک بزرگ -742</td>
          <td id="waste-sh-big-742"></td>
        </tr>
        <tr>
          <td>باطله حمل شده از معدن به غربی-تراک بزرگ -742</td>
          <td id="waste-gh-big-742"></td>
        </tr>
        <tr>
          <td>آهن حمل شده از معدن به دپو-تراک کوچک -742</td>
          <td id="ore-depo-small-742"></td>
        </tr>
        <tr>
          <td>آهن حمل شده از معدن به سنگ شکن-تراک کوچک -742</td>
          <td id="ore-cr-small-742"></td>
        </tr>
        <tr>
          <td>باطله حمل شده از معدن به شرقی-تراک کوچک -742</td>
          <td id="waste-sh-small-742"></td>
        </tr>
        <tr>
          <td>باطله حمل شده از معدن به غربی-تراک کوچک -742</td>
          <td id="waste-gh-small-742"></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="cards">
    <table class="table table-striped table-hover">
      <thead>
        <th>پارامتر</th>
        <th id="val">مقدار</th>
      </thead>
      <tbody>
        <tr>
          <td>ساعت کارکرد بارکننده 700</td>
          <td id="shovel-hour-700"></td>
        </tr>
        <tr>
          <td>ساعت کارکرد بارکننده 742</td>
          <td id="shovel-hour-742"></td>
        </tr>
        <tr>
          <td>ساعت کارکرد باربر 700</td>
          <td id="truck-hour-700"></td>
        </tr>
        <tr>
          <td>ساعت کارکرد باربر 742</td>
          <td id="truck-hour-742"></td>
        </tr>
        <tr>
          <td>کیلومتر کارکرد باربر 700</td>
          <td id="truck-distance-700"></td>
        </tr>
        <tr>
          <td>کیلومتر کارکرد باربر 742</td>
          <td id="truck-distance-742"></td>
        </tr>
        <tr>
          <td>سوخت باربر 700</td>
          <td id="truck-fuel-700"></td>
        </tr>
        <tr>
          <td>سوخت باربر 742</td>
          <td id="truck-fuel-742"></td>
        </tr>
        <tr>
          <td>سوخت بارکننده 700</td>
          <td id="shovel-fuel-700"></td>
        </tr>
        <tr>
          <td>سوخت بارکننده 742</td>
          <td id="shovel-fuel-742"></td>
        </tr>
        <tr>
          <td>خوراک دهی از دپو مگنت</td>
          <td id="magnet-pile"></td>
        </tr>
        <tr>
          <td>خوراک دهی از سایر دپوها</td>
          <td id="other-depo-pile"></td>
        </tr>
        <tr>
          <td>خوراک دهی از بلوکهای معدن</td>
          <td id="minigBlock-pile"></td>
        </tr>
        <tr>
          <td>خوراک دهی با تراک کوچک</td>
          <td id="smallTruck-pile"></td>
        </tr>
        <tr>
          <td>خوراک دهی با تراک بزرگ</td>
          <td id="bigTruck-pile"></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="cards">
    <table class="table table-striped table-hover">
      <thead>
        <th>پارامتر</th>
        <th id="val">مقدار</th>
      </thead>
      <tbody>
        <tr>
          <td>تناژ شاولهای دیزل -700</td>
          <td id="shovel-diesel-tonnage-700"></td>
        </tr>
        <tr>
          <td>ساعت شاولهای دپو -700</td>
          <td id="shovel-depo-hour-700"></td>
        </tr>
        <tr>
          <td>سوخت شاولهای دیزل -700</td>
          <td id="shovel-diesel-fuel-700"></td>
        </tr>
        <tr>
          <td>ساعت شاولهای دیزل -700</td>
          <td id="shovel-diesel-hour-700"></td>
        </tr>
        <tr>
          <td>کل سرویسها-700</td>
          <td id="allservice-700"></td>
        </tr>
        <tr>
          <td>سرویسهای دپو-700</td>
          <td id="deposervice-700"></td>
        </tr>
        <tr>
          <td>کل سرویسها-742</td>
          <td id="allservice-742"></td>
        </tr>
        <tr>
          <td>کل تناژ-700</td>
          <td id="tonnage-700"></td>
        </tr>
        <tr>
          <td>کل تناژ-742</td>
          <td id="tonnage-742"></td>
        </tr>
        <tr>
          <td>سها به دپو</td>
          <td id="saha-to-depo"></td>
        </tr>
        <tr>
          <td>توقف شاول 700</td>
          <td id="stop-shovel-700"></td>
        </tr>
        <tr>
          <td>توقف شاول 742</td>
          <td id="stop-shovel-742"></td>
        </tr>
        <tr>
          <td>توقف شاول آپادانا</td>
          <td id="stop-shovel-apadana"></td>
        </tr>
        <tr>
          <td>توقف تراک 700</td>
          <td id="stop-truck-700"></td>
        </tr>
        <tr>
          <td>توقف تراک 742</td>
          <td id="stop-truck-742"></td>
        </tr>
        <tr>
          <td>توقف تراک آپادانا</td>
          <td id="stop-truck-apadana"></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="cards">
    <table class="table table-striped table-hover">
      <thead>
        <th>پارامتر</th>
        <th id="val">مقدار</th>
      </thead>
      <tbody>
        <tr>
          <td>ورودی رباط</td>
          <td id="robat"></td>
        </tr>
        <tr>
          <td>ورودی ارجان</td>
          <td id="arjan"></td>
        </tr>
        <tr>
          <td>ورودی نوین</td>
          <td id="novin"></td>
        </tr>
        <tr>
          <td>کارمانیا-کاشان</td>
          <td id="karmania-kashan"></td>
        </tr>
        <tr>
          <td>کارمانیا-شاهرود</td>
          <td id="karmania-shahrood"></td>
        </tr>
        <tr>
          <td>ورودی چاه گز</td>
          <td id="chah-gaz"></td>
        </tr>
        <tr>
          <td>ورودی گلمنده</td>
          <td id="galmande"></td>
        </tr>
        <tr>
          <td>ورودی خزر</td>
          <td id="khazar"></td>
        </tr>
        <tr>
          <td>موجودی مگنت</td>
          <td id="depo-magnet"></td>
        </tr>
        <tr>
          <td>موجودی سایر</td>
          <td id="depo-other"></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>