<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="js/leaflet/leaflet.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.gif" type="image/x-icon">
    <title>گزارش مسیر</title>
</head>
<body>
    <%-body  %> 
</body>
<script src="js/leaflet/leaflet.js"></script>
<script src="js/leaflet/leaflet-src.js"></script>
<script src="js/leaflet/leaflet-routing-machine.min.js"></script>
<script src="js/axios.js"></script>
<script src="js/map.js"></script>
</html>